APScheduler==3.0.0
Django==1.6.5
Pillow==2.7.0
Unidecode==0.04.17
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-crispy-forms==1.4.0
django-facebook==6.0.2
django-registration==1.0
django-social-auth==0.7.28
django-toolbelt==0.0.1
freeze==0.8.0
futures==2.2.0
gunicorn==19.0.0
httplib2==0.9
oauth2==1.5.211
psycopg2==2.5.3
python-openid==2.2.5
pytz==2014.10
requests==2.5.1
six==1.9.0
static3==0.5.1
tzlocal==1.1.2
wsgiref==0.1.2
