{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Facebook page tester
{% endblock %} 

{% block content %}
	<div id="main"> 
		<div class="col-sm-10 col-sm-offset-1" style="margin-top:25px;">
			Привет, пользователь!
			<br>
			{% if data %}
				<form role="form" action="" method="post">
					{% csrf_token %}

					<select name="compain">
					{% for d in data %}
						<option value="{{d.access_token}}+{{d.id}}">{{d.name}}</option>
					{% endfor %}
					</select>

					<button type="submit" class="btn btn-success">
	        		Select compain
	    			</button>
				</form>
			{% else %}
				<p>No pages at your Facebook</p>
			{% endif %}
		</div>
	</div>
{% endblock %} 