{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Facebook Page Tester
{% endblock %}

{% block head %}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'staticpage/css/index.css' %}">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,500,800,400italic,500italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}

{% block no-navbar %}{% endblock %}

{% block content %}
      <section id="home" name="home"></section>
  <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
          <h1>Welcome To<br> <b>Facebook Page Tester</b></h1>
          <h3>A/B Testing solution for your pages</h3>
          <br>
          </div>    
        </div>
      </div> <!--/ .container -->
  </div><!--/ #headerwrap -->

  <div id="intro">
    <div class="container">
      <div class="row centered">
        <button type="button" class="btn btn-success btn-xl">
          Try it now!
      </button>
      </div>
    </div>
  </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

{% endblock %}