{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<form style="margin-left:10%;" action="" method="post">          
	  {% csrf_token %}

	  <br/>      

	  <input type="text" name="name" placeholder="name"> </input>
	  <input type="text" name="token" placeholder="token"> </input>
	  <input type="text" name="id_page" placeholder="Id page"> </input>

	  <button type="submit" class="btn btn-default">Send algo</button>
	  
	  <!-- <div>        
	    <textarea id="code" name="code" rows="20"></textarea>
	   </div> -->
	</form> 
{% endblock %}